@charset "UTF-8";
/* CSS Document */

/* #Imports
================================================== */
$ionicons-font-path: "../font";

@import "materialize";
@import "ionicons";

body {
    min-height: 100vh;

    table {

        tbody {

            td.waiting {
                position: relative;
                width: 100%;
                height: 100px;
                left: 0;
                top: 0;
                background: url('../images/ajax-loader.svg') center center no-repeat;
                background-size: 56px 56px;
            }
        }
    }
}
